@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.DashboardComplaintReports>
@using ContentModels = Umbraco.Web.PublishedContentModels;*@
@{
	Layout = "DealerMaster.cshtml";
}
<h1>Dashboard ComplaintReports</h1>