@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.DealerHome>
@using ContentModels = Umbraco.Web.PublishedContentModels;*@
@{
	Layout = "DealerMaster.cshtml";
}
<h1>Forside til forhandlernett</h1>