@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MyPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;*@
@{
	Layout = "DealerMaster.cshtml";
}

<h1>Min side</h1>
@*@Html.Action("ShowMyPage", "MyPage")*@

@Html.Partial("~/Views/Partials/Demo/MyPagePartial.cshtml")