@{
    Layout = "LoginMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ingen Tilgang</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="panel panel-red">
        <div class="panel-heading">
            Ingen Tilgang
        </div>
        <div class="panel-body">
            <p>Pålogget bruker har ingen tilgang til denne sida!</p> For å logge på med en annen bruker med tilgang, gå tilbake til <a href="/">Forhandlernett</a> for å logg på med en annen bruker.
        </div>
        <div class="panel-footer">
            Gå tilbake til <a href="/">Forhandlernett</a>
        </div>
    </div>
</div>
