@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SearchComplaintReportsPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "DealerMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@Model.Content.Name</h2>
    </div>
</div>
@*@Html.Action("ShowComplaintReports", "ComplaintReport")*@

@Html.Partial("~/Views/Partials/Demo/ComplaintReportsPartial.cshtml")
