@model string
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Vis/Rediger reklamasjonsrapport</h1>
    </div>
</div>
@*<pre>@Model</pre>*@
<div class="row" ng-controller="ShowComplaintReportController" ng-init="init(@Model)" ng-cloak>
    <div class="col-lg-12">
        @*<div class="panel panel-info">
            <div class="panel-heading">
                Reklamasjonstype
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="row">
                        <form role="form" id="contact" ng-submit="submit()" novalidate ng-cloak>
                            <fieldset ng-disabled="!editing">
                                <div class="form-group">
                                    <label>Velg type rapport</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="wizard.currentStep" name="optionsRadios" id="optionsRadios1" value="1" ng-checked="wizard.currentStep ==1">Produktreklamasjon
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="wizard.currentStep" name="optionsRadios" id="optionsRadios2" value="2" ng-checked="wizard.currentStep ==2">Øvrige reklamasjoner
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="panel panel-info" ng-if="wizard.currentStep == 1">
            <div class="panel-heading">
                Produktreklamasjon
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Forhandler
                        </div>
                        <div class="panel-body">
                            <form role="form" id="contact" ng-submit="submit()" novalidate ng-cloak>
                                <fieldset ng-disabled="!editing">

                                    <div class="form-group">
                                        <label for="Name">Skriv inn maskinnummer (chassisnummer / application frame serial number)</label>
                                        <div class="flex-container">
                                            <input class="form-control" ng-model="complaintReportFormatted.MachineNo1" id="MachineNo1" type="text" placeholder="MachineNo1">
                                            <input class="form-control" ng-model="complaintReportFormatted.MachineNo2" id="MachineNo2" type="text" placeholder="MachineNo2">
                                        </div>
                                    </div>
                                    </fieldset>
                                <fieldset ng-disabled="true">

                                    <div class="form-group">
                                        <label for="Name">Pålogget forhandlernavn</label>
                                        <input class="form-control" ng-model="currentDealerData.FirstName" id="DealerName" type="text" placeholder="DealerName">
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Adresse</label>
                                        <input class="form-control" ng-model="currentDealerData.Address" id="DealerAddress" type="text" placeholder="DealerAddress">
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Kontaktperson</label>
                                        <input class="form-control" ng-model="currentDealerData.ContactPerson" id="ContactPerson" type="text" placeholder="ContactPerson">
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Epost</label>
                                        <input class="form-control" ng-model="currentDealerData.Email" id="Email" type="text" placeholder="Email">
                                    </div>
                                    <p class="alert-danger">{{error}}</p>
                                    <div class="alert alert-success alert-dismissable" ng-show="success" style="transition: all linear 0.5s;">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        Reklamasjonsrapport er laget!
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Kunde
                        </div>
                        <div class="panel-body">
                            <fieldset ng-disabled="!editing">
                                @*<div class="form-group">
                                    <label for="SearchCustomer">Søk kunde</label>
                                    <form name="form-country_v1" id="form-country_v1">
                                        <div class="typeahead__container">
                                            <div class="typeahead__field">

                                                <span class="typeahead__query">
                                                    <input name="country_v1[query]" class="js-typeahead-country_v1 " type="search" placeholder="Search" autocomplete="off">
                                                </span>
                                                <span class="typeahead__button">
                                                    <button type="submit">
                                                        <i class="typeahead__search-icon"></i>
                                                    </button>
                                                </span>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                existingCustomerSelected: {{existingCustomerSelected}}
                                <div class="form-group">
                                    <h4>Static arrays</h4>
                                    <pre>Model: {{selectedCustomer | json}}</pre>
                                    <input type="text" ng-model="selectedCustomer" uib-typeahead="customer for customer in customers | filter:$viewValue | limitTo:8" class="form-control">
                                </div>
                                <div class="form-group">
                                    <h4>Asynchronous results</h4>
                                    <pre>Model: {{asyncSelected | json}}</pre>
                                    <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="state as state.Name for state in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>*@
                                @*<div class="form-group">
                                    <h4>Custom popup templates for typeahead's dropdown</h4>
                                    <pre>Model: {{asyncSelected | json}}</pre>
                                    <pre>isCustomerFieldsChanged {{isCustomerFieldsChanged}}</pre>
                                    <label for="Name">Navn</label>

                                    <input type="text" ng-model="asyncSelected" placeholder="Custom popup template" uib-typeahead="state as state.Name for state in getLocation($viewValue)"  class="form-control" typeahead-loading="loadingLocations" typeahead-no-results="noResults">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label for="Name">Navn</label>
                                    <input class="form-control" ng-model="complaintReportFormatted.Customer.Name" id="CustomerName" type="text" placeholder="Navn">
                                </div>
                                <div class="form-group">
                                    <label for="Name">Adresse</label>
                                    <input class="form-control" ng-model="complaintReportFormatted.Customer.Address" id="CustomerAddress" type="text" placeholder="Adresse">
                                </div>
                                <div class="form-group">
                                    <label>Privat eller firma</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="complaintReportFormatted.Customer.CustomerType" name="optionsRadios" id="optionCustomerType1" value="1" ng-checked="complaintReportFormatted.Customer.CustomerType==1">Privat
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="complaintReportFormatted.Customer.CustomerType" name="optionsRadios" id="optionCustomerType2" value="2" ng-checked="complaintReportFormatted.Customer.CustomerType==2">Næring
                                        </label>
                                    </div>
                                </div>
                                <p class="alert-danger">{{error}}</p>
                                <div class="alert alert-success alert-dismissable" ng-show="success" style="transition: all linear 0.5s;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    Reklamasjonsrapport er laget!
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>

                @*PRODUKT*@
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Produkt
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <form role="form" id="contact" ng-submit="submit()" novalidate ng-cloak>
                                    <fieldset ng-disabled="!editing">
                                        <div class="form-group">
                                            <label for="Name">Produkt</label>

                                            <select class="form-control" name="product" ng-change="ProductChanged(complaintReportFormatted.Product)" ng-model="complaintReportFormatted.Product"
                                                    ng-options="p.ProductId as p.Name for p in complaintReportFormatted.Products">
                                                <option value="">Velg produkt</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="Name">Produktmodell</label>
                                            <select class="form-control" name="myselect" ng-model="complaintReportFormatted.ProductModel"
                                                    ng-options="pm.ProductModelId as pm.Name for pm in complaintReportFormatted.ProductModels">
                                                <option value="">Velg produktmodel</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label for="Name">Motornr</label>
                                            <input class="form-control" ng-model="complaintReportFormatted.EngineNo" id="MotorNr" type="text" placeholder="MotorNr">
                                        </div>
                                        <p class="alert-danger">{{error}}</p>
                                        <div class="alert alert-success alert-dismissable" ng-show="success" style="transition: all linear 0.5s;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            Reklamasjonsrapport er laget!
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                            <div class="col-lg-6">
                                <form role="form" id="contact" ng-submit="submit()" novalidate ng-cloak>
                                    <fieldset ng-disabled="!editing">
                                        <div class="form-group">
                                            <label for="Name">Timetall</label>
                                            <input class="form-control" ng-model="complaintReportFormatted.TimeAmount" id="TimeAmount" type="text" placeholder="Timetall">
                                        </div>
                                        <div class="form-group">
                                            <label for="Name">Salgsdato</label>
                                            <input class="form-control" ng-model="complaintReportFormatted.SaleDate" id="SaleDate" type="date" placeholder="Salgsdato">
                                        </div>
                                        <div class="form-group">
                                            <label for="Name">Skadedato</label>
                                            <input class="form-control" ng-model="complaintReportFormatted.DamageDate" id="DamageDate" type="date" placeholder="Skadedato">
                                        </div>
                                        <div class="form-group">
                                            <label for="Name">Reperasjonsdato</label>
                                            <input class="form-control" ng-model="complaintReportFormatted.RepairDate" id="RepairDate" type="date" placeholder="Reperasjondato">
                                        </div>
                                        <p class="alert-danger">{{error}}</p>
                                        <div class="alert alert-success alert-dismissable" ng-show="success" style="transition: all linear 0.5s;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            Reklamasjonsrapport er laget!
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>

                @*FEIL*@
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Feil
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <form role="form" id="contact" ng-submit="submit()" novalidate ng-cloak>
                                    <fieldset ng-disabled="!editing">
                                        <div class="form-group">
                                            <label>Feil/Symptom</label>
                                            <textarea class="form-control" rows="3" ng-model="complaintReportFormatted.Error"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Årsak til feil</label>
                                            <textarea class="form-control" rows="3" ng-model="complaintReportFormatted.ReasonForError"></textarea>
                                        </div>
                                        <label>Deler</label>
                                        <div class="form-group">
                                            @*<pre>partList: {{partList}}</pre>
                                            <h4>Legg til deler</h4>
                                            <pre>Model: {{asyncSelected | json}}</pre>*@

                                            <input type="text" ng-model="asyncSelected"  typeahead-on-select="onSelect($item, $model, $label)" placeholder="Søk deler og legg til" uib-typeahead="state as (state.PartId +' : '+ state.Description + ' : ' + state.Price) for state in getParts($viewValue)"  class="form-control" typeahead-loading="loadingLocations" typeahead-no-results="noResults">
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="noResults">
                                                <i class="glyphicon glyphicon-remove"></i> Ingen deler funnet!
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Delenr</th>
                                                        <th>Betegnelse</th>
                                                        <th>Pris</th>
                                                        <th>Antall</th>
                                                        <th>FRT</th>
                                                        <th>Slett</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="part in complaintReportFormatted.Parts">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{part.PartNo}}</td>
                                                        <td>{{part.Description}}</td>
                                                        <td>{{part.Price}}</td>
                                                        <td><input type="number" ng-model="part.Amount" style="width:70px" /></td>
                                                        <td>{{part.Shipping}}</td>
                                                        <td><button type="button" ng-click="removePart(this)">Slett</button></td>
                                                    </tr>
                                                    <tr ng-if="partList.length > 0">
                                                        <td></td>
                                                        <td></td>
                                                        <td>Totalt:</td>
                                                        <td>{{getTotalSum()}}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <label>Kostnader</label>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Øvrige kostnader</th>
                                                        <th>Arbeidstid</th>
                                                        <th>Pris</th>
                                                        <th>Antall</th>
                                                        <th>Beløp</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>mdo</td>
                                                        <td>mdo</td>
                                                        <td>mdo</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Jacob</td>
                                                        <td>mdo</td>
                                                        <td>mdo</td>
                                                        <td>mdo</td>
                                                        <td>fat</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>the Bird</td>
                                                        <td>mdo</td>
                                                        <td>mdo</td>
                                                        <td>mdo</td>
                                                        <td>twitter</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-group">
                                            <label>Checkboxes</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" ng-model="complaintReportFormatted.PartsMarked" ng-checked="complaintReportFormatted.PartsMarked ==1">Deler er merket og oppbevart
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" ng-model="complaintReportFormatted.PartsReturned" ng-checked="complaintReportFormatted.PartsReturned ==1">Deler er returnert etter avtale med Berema

                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" ng-model="complaintReportFormatted.CreateEmail" ng-checked="complaintReportFormatted.CreateEmail == 1">Ved behov, opprett e-post for vedlegg
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Status</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" ng-model="complaintReportFormatted.Status" name="optionsRadios" id="optionCustomerType1" value="1" ng-checked="complaintReportFormatted.Status == 1">Godkjent
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" ng-model="complaintReportFormatted.Status" name="optionsRadios" id="optionCustomerType2" value="2" ng-checked="complaintReportFormatted.Status == 2">Avslått
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Ferdigmeldt</label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" ng-model="complaintReportFormatted.Closed">Ferdigmeld
                                            </label>
                                        </div>
                                        <fieldset disabled>
                                            <div class="form-group">
                                                <label>Godkjenning</label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" ng-model="complaintReportFormatted.SentToApproval">Sendt til godkjenning
                                                </label>
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                    <fieldset>
                                        <button type="submit" class="btn btn-success" ng-if="editing && !complaintReportFormatted.SentToApproval">Lagre</button>
                                        <button type="button" class="btn btn-info" ng-if="editing && !complaintReportFormatted.SentToApproval" ng-click="sendToApproval()">Send til godkjenning</button>
                                        <button type="button" class="btn btn-warning" ng-click="discardChanges()" ng-if="editing && !complaintReportFormatted.SentToApproval">Forkast endringer</button>
                                        <button type="button" class="btn btn-danger" ng-click="delete()" ng-if="editing">Slett rapport</button>
                                        @*<button type="submit" class="btn btn-warning">Send til behandler</button>*@
                                        <button type="button" class="btn btn-info" ng-click="changeEditMode()" ng-if="!editing && !complaintReportFormatted.SentToApproval">Rediger</button>
                                        <p class="alert-danger">{{error}}</p>
                                        <div class="alert alert-success alert-dismissable" ng-show="success" style="transition: all linear 0.5s;">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            Reklamasjonsrapport er laget!
                                        </div>
                                    </fieldset>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
