@*@using Demo.Web.Controllers;*@

@model IEnumerable<Demo.Core.Models.ModelsBuilder.StoreAndProfileProduct>
<div ng-controller="StoreAndProfileMaterialsController" ng-cloak>
    <div class="row">
        @*<pre>list: {{list}}</pre>
            <pre>materials: {{materials}}</pre>*@
        @*<pre>list: {{order}}</pre>*@
        <div ng-repeat="item in materials">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="pull-left">{{item.Name}}</span>
                        <span class="pull-right">{{item.Price | number:2}}</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div ng-bind-html="item.Description"></div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left" ng-if="item.Size.length > 0">
                            <select class="form-control" name="size" ng-change="SizeChanged(item)" ng-model="item.SelectedSize"
                                    ng-options="o as o for o in item.Size">
                                <option value="">Størrelse</option>
                            </select>
                        </span>
                        <form name="itemForm">
                            <span class="pull-left">
                                <input ng-model="item.Amount" name="amount" ng-pattern="/^\d*$/" required placeholder="Antall" maxlength="4" size="2" type="text" class="form-control" />
                            </span>

                            <span class="pull-right">
                                <input ng-disabled="itemForm.amount.$invalid || (item.Amount <= 0 || (item.Size.length > 0 && item.SelectedSize == null))" value="Legg til" type="button" ng-click="addToList(item)" class="btn btn-primary" />
                            </span>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div ng-if="$index > 0 && ($index+1) % 4 == 0" class="clearfix visible-lg"></div>
            <div ng-if="$index > 0 && ($index+1) % 3 == 0" class="clearfix visible-md"></div>
            <div ng-if="$index > 0 && ($index+1) % 2 == 0" class="clearfix visible-sm"></div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="11" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @*order: {{order}}
                    <pre>order.list: {{order.list}}</pre>*@

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Bestilling</h4>
                </div>
                <div class="modal-body">
                    <label>
                        Er du sikker du vil gjennomføre bestillingen?
                    </label>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Vare</th>
                                        <th>Antall</th>
                                        <th>Størrelse</th>
                                        <th>Enhetspris</th>
                                        <th>Totalt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in order.list">
                                        <td>{{$index}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.size}}</td>
                                        <td>{{item.price}}</td>
                                        <td>{{item.totalPrice}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            Sum
                                        </td>
                                        <td>
                                            {{order.sum}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                    @*<ol ng-if="order.list.length > 0">
                        <li ng-repeat="item in order.list">
                            <span>{{item.name}} X {{item.amount}}</span>
                            <span ng-if="item.size">Størrelse: {{item.size}}</span>
                            <span class="pull-right"><strong>{{item.totalPrice}}</strong></span>
                        </li>
                        <span class="pull-right"><strong>Sum </strong> <strong>{{order.sum}}</strong></span>
                    </ol>*@
                    <div class="form-group">
                        <label>Kontaktperson</label>
                        <input class="form-control" ng-model="order.contactPerson">
                    </div>
                    <div class="form-group">
                        <label>Kommentar</label>
                        <textarea class="form-control" rows="3" ng-model="order.comment"></textarea>
                    </div>
                    <label>Leveringsadresse (kan endres på Min side)</label>
                    <p class="help-block">Einar haflansvei 90 9090 Drammen</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-primary" ng-click="submit()">Bestill</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>